*{
    margin : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box
}
ul{
list-style-type: none;
}

.wrapper{
    margin : 100px;
    width : 1280px;
    height : 720px;
    position : relative; 
}

.slider{
    list-style : none;
    width : 100%;
    display : flex;
    height: 100%; 
}



.slider .slides :not(:first-child){
     display:none
 }

.prev, .next{
    position : absolute;
    top : calc(720px -50%);
    color: black;
    cursor: pointer;
} */

.prev{
    margin-left: 30px;
} */


 .next{
    right: 0;
    margin-right: 30px;
}