#credit-card{
    width: 500px;
    border-radius: 15px;
    padding: 35px;
    position: relative;
    background-color: #161d64;

}
#visa-logo{
    width: 50px;
    height: 50px;
}


#card-chip{
    width: 40px;
    height: 40px;
    position: relative;

}
.card-number{
    color: white;
    height: 50px;
    text-align: center;

}
.date{
    color: white;

}
.full-name{
    color: white;
    float: right;
}

