..container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 4px solid blue;
    text-align: center;
}

.row {
    border: 2px solid red;
    width: 100%;
}


.row:after {
    content: "";
    display: table;
    clear: both;

}
.column{
    float: left;
    !padding:10px;
}

.column.one-half {
    width: 50%;
    background-color: grey;

}


.column.one-third {
    width: 33.33%;
    background-color: blueviolet;
}
.column.one-quarter {
    width: 25%;
    background-color: green;
}
.column.one-eighth{
    width: 12.5%;
    background-color: blue;
}

@media screen and (max-device-width: 768px) {

    .column.one-third, .column.one-half {
        width: 100%;
    }

}
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 1rem;