#container {
    margin: 50px auto;
    width: 500px;
    border: 4px solid red;
    padding-bottom: 15px;
}

#box1{
    background-color: darkcyan;
    height: 150px;
    width: 150px;
    margin: 150px;
    float: right;
    clear: left;
}

#box2{
    background-color: blueviolet;
    height: 100px;
    width: 150px;
    margin: 15px;
    float: left;
    clear: right;
}

#container2{
    margin: 50px auto;
    width: 150px;
    border: 4px solid red;
    padding: 15px;
}

#box3{
    background-color: aqua;

}