#container {
    margin: 50px auto;
    width: 500px;
    border: 4px solid red;
    padding-bottom: 15px;
}

#box1{
    background-color: darkcyan;
    height: 150px;
    width: 150px;
    margin: 150px;
    float: right;
    clear: left;
}

#box2{

}

#container2{
    margin: 50px auto;
    width: 150px;
    border: 4px solid red;
    padding: 15px;
    position: relative;
    top: 20px;

}

#box3{
    background-color: aqua;
    height: 100px;
    width: 20px;


}