.row:after {
    content: "";
    display: grid;
    clear: both;
}

body {
    padding: 1rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.box{
    background-color: deepskyblue;
    color: whitesmoke;
    padding: 1rem;
    height: 4rem;
}
.box.half{
    width: 50%;
}

.third{
    width: 33.3%;
}

.quarter {
    width: 25%;
}

.eighth {
    width: 12.5%;
}
.row{
    border: 1px solid red;
    width: 100%
;
}

.box.eighth{
grid-auto-rows: 1/8;
}
gird-gh