.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 4px solid blue;
    text-align: center;
}

.row {
    border: 2px solid red;
    width: 100%;
}

/*insure that the rows start a new section vertically*/

.row:after {
    content: "";
    display: table;
    clear: both;
}
/*the exclamation point signals the browser that this is important */

.column{
    float: left;
    !padding:10px;
}

.column.one-half {
    width: 50%;
    background-color: aqua;

}


.column.one-third {
    width: 33.33%;
    background-color: blueviolet;
}
/*resposnsiveness*/
@media screen and (max-device-width: 768px) {

    .column.one-third, .column.one-half {
        width: 100%;
    }

}
.row:after {
    content: "";
display: table;
    clear: both;
}

body {
    padding: 1rem;
}
/*container*/


.card-holder{
    max-width: 1200px;
    margin: 0 auto;
    /*grid display property gives us the acess to more grid css properties*/
    display: grid;
    /*gives us a gap between elements*/
    grid-gap: 1rem;
}

.card{
    background-color: deepskyblue;
    color: whitesmoke;
    padding: 1rem;
    height: 4rem;
}
/*all devivces above 600px*/

@media (min-width: 600px) {
    .card-holder{
        grid-template-columns: repeat(2, 1fr);
    }

}
/*all devices above 900px*/

@media (min-width: 900px){
    .card-holder {
        grid-template-columns: repeat(3, 1fr)
    }
